<?xml version="1.0" encoding="utf-8"?>
<!--
 *========================================================================
 * AndroidManifest.xml
 * Aug 18, 2011 1:29:29 PM | variable
 * Copyright (c) 2011 Richard Banasiak
 *========================================================================
 * This file is part of CoinFlip.
 *
 *    CoinFlip is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    CoinFlip is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *    GNU General Public License for more details.
 *
 *    You should have received a copy of the GNU General Public License
 *    along with CoinFlip.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest 
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.banasiak.coinflip" 
    android:versionName="3.2" android:versionCode="16"
    android:installLocation="auto">
    
    <application 
        android:icon="@drawable/icon" 
        android:label="@string/app_name">
        <activity 
            android:name=".CoinFlip" 
            android:screenOrientation="portrait"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action 
                    android:name="android.intent.action.MAIN" />
                <category 
                    android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Settings" 
            android:screenOrientation="portrait"
            android:label="@string/settings_activity_title">
        </activity>        
        <activity 
            android:name=".SelfTest" 
            android:screenOrientation="portrait"
            android:label="@string/selftest_activity_title"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity 
            android:name=".About" 
            android:screenOrientation="portrait"
            android:label="@string/about_activity_title"
            android:theme="@android:style/Theme.Dialog">
        </activity>
    </application>

    <uses-sdk android:minSdkVersion="3" />

    <uses-permission android:name="android.permission.VIBRATE" />

</manifest> 